*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
overflow-x: none;
}

body{
background-image: url(glvdstone-wallpaper.png);
font-family: 'Geo', sans-serif; /*Heading font ='Aldrich', sans-serif;*/
color: white;
animation: transitionIn 0.75s;
}

/*PAGE-FADEIN-TRANSITION*/
@keyframes transitionIn{
from{
opacity: 0;
transform: rotateX(-10deg);
}

to{
opacity: 1;
transform: rotateX(0);
}
}
/*PAGE-FADEIN-TRANSITION*/

/*NAVBAR*/
#mySidebar{
display:none;
padding-top:150px;
font-family:'Geo', sans-serif; 
font-size: 80px;
align-content: center;
top: 0px;
}

#landing-nav-links{
width: 100%;
background-color: black;
color: white;
text-decoration: none;
padding-top: 0px;
margin: 0px auto;
overflow-x: hidden;
}

#landing-nav-links a{
text-decoration: none;
color: white;
width: 100%;
font-size: 80px;
}


/*GLITCH-NAV-LINKS*/
/*GLITCH2*/
.glitch2{
position: relative;
top: 40%;
margin: 0 auto;
color: #fff;
font-size: 70px;
font-weight: 600;
text-align: center;
}

.glitch2:before, .glitch2:after{
content: "HOME";
position: absolute;
top: 1;
left: 0;
right: 0;
overflow: hidden;
color: #fff;
}

.glitch2:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch2:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}
/*GLITCH2*/


/*GLITCH3*/
.glitch3{
position: relative;
top: 40%;
margin: 0 auto;
color: #fff;
font-size: 70px;
font-weight: 600;
text-align: center;
}

.glitch3:before, .glitch3:after{
content: "ABOUT";
position: absolute;
top: 1;
left: 0;
right: 0;
overflow: hidden;
color: #fff;
}

.glitch3:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch3:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}
/*GLITCH3*/


/*GLITCH4*/
.glitch4{
position: relative;
top: 40%;
margin: 0 auto;
color: #fff;
font-size: 70px;
font-weight: 600;
text-align: center;
}

.glitch4:before, .glitch4:after{
content: "PROJECTS";
position: absolute;
top: 1;
left: 0;
right: 0;
overflow: hidden;
color: #fff;
}

.glitch4:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch4:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}
/*GLITCH4*/


/*GLITCH5*/
.glitch5{
position: relative;
top: 40%;
margin: 0 auto;
color: #fff;
font-size: 70px;
font-weight: 600;
text-align: center;
}

.glitch5:before, .glitch5:after{
content: "GRAPHICS";
position: absolute;
top: 1;
left: 0;
right: 0;
overflow: hidden;
color: #fff;
}

.glitch5:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch5:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}
/*GLITCH5*/


/*GLITCH6*/
.glitch6{
position: relative;
top: 40%;
margin: 0 auto;
color: #fff;
font-size: 70px;
font-weight: 600;
text-align: center;
}

.glitch6:before, .glitch6:after{
content: "CONTACT";
position: absolute;
top: 1;
left: 0;
right: 0;
overflow: hidden;
color: #fff;
}

.glitch6:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch6:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}
/*GLITCH6*/
/*GLITCH-NAV-LINKS*/
/*NAVBAR*/




/*LANDING-PAGE*/
#landing-logo{
align-content: center;
width: 35%;
margin: 5px auto;
margin-top: 60px;
}

#landing-logo img{
width: 300px;
margin: 20px auto;
}

#landing-fullname{
width: 100%;
font-size: 45px;
margin: 5px auto;
}

.glitch{
position: relative;
top: 40%;
margin: 0 auto;
color: #fff;
font-size: 80px;
font-weight: 600;
text-align: center;
}

.glitch:before, .glitch:after{
content: "NATHAN PARCHMENT";
position: absolute;
top: 0;
left: 0;
right: 0;
overflow: hidden;
color: #fff;
}

.glitch:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}

.glitch1{
position: relative;
top: 40%;
margin: 0 auto;
color: #fff;
font-size: 80px;
font-weight: 600;
text-align: center;
}

.glitch1:before, .glitch1:after{
content: "FRONT-END DEVELOPER";
position: absolute;
top: 0;
left: 0;
right: 0;
overflow: hidden;
color: #fff;
}

.glitch1:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch1:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}


/*GLITCH-KEYFRAMES*/
@-webkit-keyframes effect{
0%{
clip: rect(55px,9999px,56px,0);
}
	
5%{
clip: rect(47px,9999px,30px,0);
}
	
10%{
clip: react(33px,9999px,36px,0);
}
	
15%{
clip: react(35px,9999px,9px,0);
}
	
20%{
clip: react(63px,9999px,59px,0);
}
	
25%{
clip: react(96px,9999px,98px,0);
}
		
30%{
clip: rect(48px,9999px,77px,0);
}
	
35%{
clip: rect(50px,9999px,34px,0);
}
	
40%{
clip: react(60px,9999px,72px,0);
}
	
45%{
clip: react(10px,9999px,81px,0);
}
	
50%{
clip: react(2px,9999px,60px,0);
}
	
55%{
clip: react(23px,9999px,89px,0);
}
		
60%{
clip: react(76px,9999px,91px,0);
}
	
65%{
clip: react(62px,9999px,30px,0);
}
	
70%{
clip: react(60px,9999px,73px,0);
}	
	
75%{
clip: react(60px,9999px,87px,0);
}
	
80%{
clip: react(2px,9999px,14px,0);
}
	
85%{
clip: react(28px,9999px,87px,0);
}
		
90%{
clip: react(73px,9999px,50px,0);
}
	
95%{
clip: react(79px,9999px,70px,0);
}
	
100%{
clip: react(17px,9999px,79px,0);
}		
}
/*GLITCH-KEYFRAMES*/

/* #landing-fullname p{
margin: 5px auto;
padding: 5px;
}
*/

#landing-fullname h3{
font-family: 'Geo', sans-serif; 
}

#landing-jobtitle h3{
font-family: 'Geo', sans-serif; 
}

#landing-jobtitle{
width: 100%;
font-size: 45px;
margin: 5px auto;
}

#landing-contact-btn{
margin: 10px auto;
width: 100%;
}

.landing-btn{
padding: 10px 10px;
cursor: pointer;
text-decoration: none;
margin: 20px auto;
transition-duration: 0.2s;
width: 20%;
border-radius: 5px;
font-weight: 600;
font-size: 25px;
display: inline-block;
background-color:white;
border: none;
position: relative;
overflow: hidden;
}

.landing-btn:hover{
background-color: black;
color: white;
}

.landing-btn a{
text-decoration: none;
color: black;
}

.landing-btn a:hover{
color: white;
}

#landing-social-icons{
width: 100%;
}

#landing-social-icons ul{
margin: 50px auto;
padding: 0px;
text-align: center;
}

#landing-social-icons ul li{
display: inline-block;
width: 45px;
height: 45px;
margin: 0px 30px;
border-radius: 5px;
background: white;
}

#landing-social-icons ul li:hover{
background-color: black;
}

#landing-social-icons ul li a{
color: black;
font-size: 25px;
}

#landing-social-icons ul li a:hover{
color: white;
}

#landing-social-icons ul li a i{
line-height: 50px;
}
/*LANDING-PAGE*/


/*PROJECTS-PAGE*/
#gallery{
width: 100%;
margin: 20px auto;
}

#project-titleheading{
margin: 50px auto;
}

#project-titleheading h3{
font-family: 'Aldrich', sans-serif;
}

/*GLITCH7*/
.glitch7{
position: relative;
top: 40%;
margin: 0 auto;
color: #fff;
font-size: 70px;
font-weight: 600;
text-align: center;
}

.glitch7:before, .glitch7:after{
content: "PROJECTS";
position: absolute;
top: 1;
left: 0;
right: 0;
overflow: hidden;
color: #fff;
}

.glitch7:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch7:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}
/*GLITCH7*/

#project-grid{
overflow: hidden;
text-align: center;
cursor: pointer;
}

#project-grid img{
overflow: hidden;
text-align: center;
max-width: 100%;
max-height: 100%;
filter:grayscale(100%);
-webkit-filter:grayscale(100%);
}

#project-grid img:hover{
transition: 0.3s;
transform: scale(1.1);
filter: grayscale(0%);
-webkit-filter:grayscale(0%);
}
/*PROJECTS-PAGE*/




/*PROJECT-OVERVIEWPAGE*/
#overview-title{
margin: 100px auto;
margin-bottom: 40px;
text-decoration: underline;
text-align: center;
}

#overview-title p{
font-family: 'Aldrich', sans-serif;
font-size: 50px;
}

#overview-section1{
width: 70%;
margin: 20px auto;
text-align: center;
}

#overview-section1 img{
width: 600px;
margin: 30px auto;
}

.overview-text{
margin: 10px auto;
text-align: left;
font-size: 20px;
font-family: 'Aldrich', sans-serif;
color: floralwhite;
line-height: 2.2;
}

#overview-section2{
width: 70%;
margin: 20px auto;
margin-top: 30px;
text-align: center;
}

#overview-section2 img{
width: 500px;
margin: 30px auto;
}

#overview-section3{
width: 70%;
margin: 40px auto;
margin-bottom: 80px;
text-align: center;
}

#overview-section3 img{
width: 600px;
margin: 0px auto;
}

#overview-btn{
margin: 20px auto;
width: 40%;
}

.overview-btn{
padding: 10px 10px;
cursor: pointer;
text-decoration: none;
margin: 20px auto;
transition-duration: 0.2s;
width: 30%;
border-radius: 5px;
font-weight: 600;
font-size: 20px;
display: inline-block;
background-color:white;
border: none;
position: relative;
overflow: hidden;
}

.overview-btn:hover{
background-color: black;
color: white;
}

.overview-btn a{
text-decoration: none;
color: black;
}

.overview-btn a:hover{
color: white;
}
/*PROJECT-OVERVIEWPAGE*/




/*GRAPHICS-PAGE*/
#gallery{
width: 100%;
margin: 20px auto;
}

#graphics-titleheading{
margin: 50px auto;
}

#graphics-titleheading h3{
font-family: 'Permanent Marker', sans-serif;
color: black;
}

/*GLITCH8*/
.glitch8{
position: relative;
top: 40%;
margin: 0 auto;
color: black;
font-size: 70px;
font-weight: 600;
text-align: center;
}

.glitch8:before, .glitch8:after{
content: "GRAPHICS";
position: absolute;
top: 1;
left: 0;
right: 0;
overflow: hidden;
color: black;
}

.glitch8:before{
right: 0px;
text-shadow: 1px 0 black;
animation: effect 2s infinite linear;
}

.glitch8:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 white;
animation: effect 1s infinite linear;
}
/*GLITCH8*/

#project-grid{
overflow: hidden;
text-align: center;
cursor: pointer;
}

#project-grid img{
overflow: hidden;
text-align: center;
max-width: 100%;
max-height: 100%;
filter:grayscale(100%);
-webkit-filter:grayscale(100%);
}

#project-grid img:hover{
transition: 0.3s;
transform: scale(1.1);
filter: grayscale(0%);
-webkit-filter:grayscale(0%);
}
/*GRAPHICS-PAGE*/




/*GRAPHICS-OVERVIEWPAGE*/
.overview-graphics{
background: url(white-background.png); 
}

#overviewgraphics-title{
margin: 100px auto;
margin-bottom: 40px;
text-decoration: underline;
text-align: center;
font-family: 'Permanent Marker', sans-serif;
color: black;
}

#overviewgraphics-title p{
font-size: 50px;
}

#overviewgraphics-section1{
width: 70%;
margin: 20px auto;
text-align: center;
font-family: 'Aldrich', sans-serif;
text-transform: lowercase;
color: black;
}

#overviewgraphics-section1 img{
width: 600px;
margin: 0px auto;
}

.overviewgraphics-text{
margin: 30px auto;
text-align: center;
font-size: 17px;
font-weight: 600;
}

#overviewgraphics-section2{
width: 70%;
margin: 20px auto;
margin-top: 80px;
text-align: center;
color: black;
font-family: 'Aldrich', sans-serif;
}

#overviewgraphics-section2 img{
width: 500px;
margin: 0px auto;
}

#overviewgraphics-section3{
width: 70%;
margin: 40px auto;
margin-bottom: 80px;
text-align: center;
color: black;
font-family: 'Aldrich', sans-serif;
}

#overviewgraphics-section3 img{
width: 600px;
margin: 0px auto;
}
/*GRAPHICS-OVERVIEWPAGE*/


/*CONTACTPAGE*/
/*GLITCH9*/
.glitch9{
position: relative;
top: 40%;
margin: 0 auto;
color: white;
font-size: 70px;
font-weight: 600;
text-align: center;
}

.glitch9:before, .glitch9:after{
content: "CONTACT";
position: absolute;
top: 1;
left: 0;
right: 0;
overflow: hidden;
color: white;
}

.glitch9:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch9:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}
/*GLITCH9*/

#contact-titleheading{
margin: 74px auto;
margin-bottom: 40px;	
}

#contact-titleheading h3{
font-family: 'Geo', sans-serif;
}

#contactquote-title{
width: 100%;
margin: 5px auto;
text-align: center;
font-size: 25px;
}

.contact-form{
margin: 10px auto;
width: 40%;
padding: 20px;
border-radius: 5px;
}

input{
width: 100%;
margin: 20px 0px auto;
padding: 20px;
border: 5px solid white;
font-size: 20px;
font-weight: 600;
border-radius: 5px;
}

textarea{
width: 100%;
height: 150px;
margin: 20px 0px auto;
padding: 10px;
border: 5px solid white;
font-size: 20px;
font-weight: 600;
border-radius: 5px;
}

.contact-form button{
margin: 15px auto;
padding: 10px auto;
width: 20%;
padding: 10px;
border-radius: 5px;
font-size: 20px;
font-weight: 600;
border: 5px solid white;
background-color: white;
}

.contact-form button:hover{
border: 5px solid lightgray;
background-color: lightgray;
cursor: pointer;
}
/*CONTACTPAGE*/


/*ABOUTMEPAGE*/
/*GLITCH9*/
.glitch10{
position: relative;
top: 40%;
margin: 0 auto;
color: white;
font-size: 70px;
font-weight: 600;
text-align: center;
}

.glitch10:before, .glitch10:after{
content: "ABOUT";
position: absolute;
top: 1;
left: 0;
right: 0;
overflow: hidden;
color: white;
}

.glitch10:before{
right: 0px;
text-shadow: 1px 0 white;
animation: effect 2s infinite linear;
}

.glitch10:after{
left: 1px;
width: 100%;
text-shadow: -2px 0 black;
animation: effect 1s infinite linear;
}
/*GLITCH9*/

#about-titleheading{
margin: 74px auto;
margin-bottom: 40px;	
}

#about-titleheading h3{
font-family: 'Geo', sans-serif;
}

#about-content{
width: 100%;
margin-top: 50px;
text-align: center;
}

#about-content img{
width: 900px;
height: 400px;
}

#about-profile{
font-size: 20px;
text-align: left;
width: 80%;
margin-top: 40px;
margin-bottom: 100px;
line-height:2.2;
}

#about-profile p{
font-family:'Aldrich', sans-serif;
}

#about-profile h1{
font-family: 'Aldrich', sans-serif;
font-size: 38px;
text-align: left;
line-height:1.7;
}
/*ABOUTMEPAGE*/




/*MOBILEDEVICES-CSS*//*MOBILEDEVICES-CSS*/
@media screen and (max-width:1440px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 150px;
font-family:'Geo', sans-serif; 
font-size: 60px;
align-content: center;
top: 0px;
}
/*NAVBAR*/
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 30px;
}

#landing-logo img{
width: 300px;
margin: 20px auto;
}
	
#landing-fullname h3{
font-size: 70px;
}
	
#landing-jobtitle h3{
font-size: 70px;
}	

#landing-contact-btn{
margin: 30px auto;
margin-top: 10px;
width: 100%;
}
	
.landing-btn{
width: 30%;
padding: 10px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 60px;
height: 60px;
margin: -15px 60px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 60px;
}
/*LANDING-PAGE*/	
	

/*ABOUT-PAGE*/
#about-content img{
width: 100%;
}

#about-profile{
margin-bottom: 80px; 
}
/*ABOUT-PAGE*/
	
	
/*PROJECTOVERVIEW-PAGE*/
#overview-section2 img{
margin: 20px auto;
width: 100%;
height: auto;
}
/*PROJECTOVERVIEW-PAGE*/
	
	
/*CONTACT-PAGE*/
.contact-form{
margin: 10px auto;
width: 60%;
padding: 20px;
border-radius: 5px;
}
/*CONTACT-PAGE*/
}




@media screen and (max-width:1366px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top:150px;
font-family:'Geo', sans-serif; 
font-size: 90px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 90px;
}
/*NAVBAR*/
	
	
/*ABOUT-PAGE*/
#about-content img{
height: auto;
/*ABOUT-PAGE*/
}
}




@media screen and (max-width:1280px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 50px;
font-family:'Geo', sans-serif; 
font-size: 90px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 90px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 20px;
}

#landing-logo img{
width: 300px;
margin: 20px auto;
}
	
#landing-fullname h3{
font-size: 50px;
}
	
#landing-jobtitle h3{
font-size: 50px;
}	

#landing-contact-btn{
margin: 5px auto;
width: 100%;
}
	
.landing-btn{
width: 30%;
padding: 10px
}
	
#landing-social-icons ul li{
display: inline-block;
width: 50px;
height: 50px;
margin: -25px 70px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 50px;
}
/*LANDING-PAGE*/	
	
	
/*ABOUT-PAGE*/
#about-content img{
width: 80%;
}

#about-profile{
margin-bottom: 80px;
}
/*ABOUT-PAGE*/
	

/*PROJECTOVERVIEW-PAGE*/
#overview-section2 img{
margin: 20px auto;
width: 100%;
height: auto;
}
/*PROJECTOVERVIEW-PAGE*/
	

/*CONTACT-PAGE*/
.contact-form{
margin: 10px auto;
width: 60%;
padding: 20px;
border-radius: 5px;
}
/*CONTACT-PAGE*/
}




@media screen and (max-width:1024px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top:90px;
font-size: 70px;
font-family:'Geo', sans-serif; 
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 70px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 30px;
}

#landing-logo img{
width: 250px;
margin: 20px auto;
}
	
#landing-contact-btn{
margin: 20px auto;
width: 100%;
}
	
.landing-btn{
width: 40%;
padding: 10px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 50px;
height: 50px;
margin: -25px 40px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 50px;
}
/*LANDING-PAGE*/
	
	
/*PROJECTOVERVIEW-PAGE*/
#overview-btn{
width: 70%;
}
/*PROJECTOVERVIEW-PAGE*/

/*GRAPHICS-OVERVIEWPAGE*/
#overviewgraphics-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2 img{
width: 100%;
margin: 20px auto;
}
/*GRAPHICS-OVERVIEWPAGE*/
}




@media screen and (max-width:950px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top:150px;
font-family:'Geo', sans-serif; 
font-size: 120px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 120px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 100px;
}

#landing-logo img{
width: 400px;
margin: 20px auto;
}
	
#landing-contact-btn{
margin: 50px auto;
width: 100%;
}
	
.landing-btn{
width: 40%;
padding: 15px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 75px;
height: 75px;
margin: 0px 40px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 80px;
}
/*LANDING-PAGE*/
	

/*ABOUT-PAGE*/
#about-content img{
width: 100%;
}
/*ABOUT-PAGE*/
	
	
/*PROJECT-PAGE*/	
#gallery{
width: 100%;
}
	
#project-grid{
width: 100%;
}
/*PROJECT-PAGE*/
	
	
/*CONTACT-PAGE*/
.contact-form{
margin: 10px auto;
width: 80%;
padding: 20px;
border-radius: 5px;
}
/*CONTACT-PAGE*/
}




@media screen and (max-width:900px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top:200px;
font-family:'Geo', sans-serif; 
font-size: 120px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 120px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 100px;
}

#landing-logo img{
width: 400px;
margin: 20px auto;
}
	
#landing-contact-btn{
margin: 50px auto;
width: 100%;
}
	
.landing-btn{
width: 40%;
padding: 15px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 75px;
height: 75px;
margin: 0px 40px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 80px;
}
/*LANDING-PAGE*/
	
	
/*PROJECT-PAGE*/	
#gallery{
width: 100%;
}
	
#project-grid{
width: 100%;
}
/*PROJECT-PAGE*/
	
	
/*CONTACT-PAGE*/
.contact-form{
margin: 10px auto;
width: 80%;
padding: 20px;
border-radius: 5px;
}
/*CONTACT-PAGE*/
}
	



@media screen and (max-width:823px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top:40px;
font-family:'Geo', sans-serif; 
font-size: 38px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 38px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 100px;
}

#landing-logo img{
width: 300px;
margin: 20px auto;
}
	
#landing-contact-btn{
margin: 30px auto;
width: 100%;
}
	
.landing-btn{
width: 40%;
padding: 10px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 60px;
height: 60px;
margin: -25px 40px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 60px;
}
/*LANDING-PAGE*/
	
	
/*PROJECTOVERVIEW-PAGE*/
#overview-section1 img{
width: 100%;
}

#overview-btn{
width: 70%;
margin: 20px auto;
}
/*PROJECTOVERVIEW-PAGE*/

/*GRAPHICS-OVERVIEWPAGE*/
#overviewgraphics-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}
	
#overviewgraphics-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2 img{
width: 100%;
margin: 20px auto;
}
/*GRAPHICS-OVERVIEWPAGE*/
}
	



@media screen and (max-width:812px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 40px;
font-family:'Geo', sans-serif; 
font-size: 35px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 35px;
}
/*NAVBAR*/
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 60px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 55px;
height: 55px;
margin: -25px 30px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 60px;
}
/*LANDING-PAGE*/
}




@media screen and (max-width:800px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top:200px;
font-family:'Geo', sans-serif; 
font-size: 100px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 100px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 100px;
}

#landing-logo img{
width: 400px;
margin: 20px auto;
}
	
#landing-contact-btn{
margin: 50px auto;
width: 100%;
}
	
.landing-btn{
width: 40%;
padding: 15px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 75px;
height: 75px;
margin: 0px 40px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 80px;
}
/*LANDING-PAGE*/
	
	
/*ABOUT-PAGE*/
#about-content img{
width: 100%;
}

#about-profile{
margin-bottom: 80px;
}
/*ABOUT-PAGE*/

	
/*PROJECT-PAGE*/	
#gallery{
width: 100%;
}
	
#project-grid{
width: 100%;
}
/*PROJECT-PAGE*/
	
	
	
/*PROJECT-OVERVIEWPAGE*/
#overview-title{
margin-bottom: 40px;
text-decoration: underline;
text-align: center;
}

#overview-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overview-section1 img{
width: 100%;
}
	
#overview-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overview-section2 img{
width: 100%;
margin: 20px auto;
}
	
#overview-section3{
width: 100%;
margin: 20px auto;
margin-bottom: 100px;
text-align: center;
}

#overview-section3 img{
width: 100%;
}
	
#overview-btn{
margin: 20px auto;
width: 100%;
}

.overview-btn{
padding: 10px 10px;
cursor: pointer;
text-decoration: none;
margin: 20px auto;
transition-duration: 0.2s;
width: 40%;
border-radius: 5px;
font-weight: 600;
font-size: 25px;
display: inline-block;
background-color:white;
border: none;
position: relative;
overflow: hidden;
}

.overview-btn:hover{
background-color: black;
color: white;
}

.overview-btn a{
text-decoration: none;
color: black;
}

.overview-btn a:hover{
color: white;
}
/*PROJECT-OVERVIEWPAGE*/

/*GRAPHICS-OVERVIEWPAGE*/
#overviewgraphics-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}
	
#overviewgraphics-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2 img{
width: 100%;
margin: 20px auto;
}
/*GRAPHICS-OVERVIEWPAGE*/
	
/*CONTACT-PAGE*/
.contact-form{
margin: 10px auto;
width: 80%;
padding: 20px;
border-radius: 5px;
}
/*CONTACT-PAGE*/
}




@media screen and (max-width:768px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top:150px;
font-size: 90px;
font-family:'Geo', sans-serif; 
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 90px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 60px;
}

#landing-logo img{
width: 350px;
margin: 20px auto;
}
	
#landing-contact-btn{
margin: 50px auto;
width: 100%;
}
	
.landing-btn{
width: 40%;
padding: 15px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 70px;
height: 70px;
margin: -30px 40px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 70px;
}
/*LANDING-PAGE*/

/*GRAPHICS-OVERVIEWPAGE*/
#overviewgraphics-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}
	
#overviewgraphics-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2 img{
width: 100%;
margin: 20px auto;
}
/*GRAPHICS-OVERVIEWPAGE*/
}




@media screen and (max-width:736px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 40px;
font-size: 40px;
font-family:'Geo', sans-serif; 
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 40px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 60px;
}

#landing-logo img{
width: 250px;
margin: 20px auto;
}
	
#landing-contact-btn{
margin: 20px auto;
width: 100%;
}
	
.landing-btn{
width: 50%;
padding: 10px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 55px;
height: 55px;
margin: -20px 25px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 60px;
}
/*LANDING-PAGE*/
	

/*ABOUT-PAGE*/
#about-content img{
height: auto;
width: 100%;
}
/*ABOUT-PAGE*/
}




@media screen and (max-width:731px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 40px;
font-size: 40px;
font-family:'Geo', sans-serif; 
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 40px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 60px;
}

#landing-logo img{
width: 250px;
margin: 20px auto;
}
	
#landing-contact-btn{
margin: 20px auto;
width: 100%;
}
	
.landing-btn{
width: 50%;
padding: 10px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 55px;
height: 55px;
margin: -20px 25px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 60px;
}
/*LANDING-PAGE*/
	
	
/*ABOUT-PAGE*/
#about-content img{
height: auto;
width: 100%;
}
/*ABOUT-PAGE*/
}




@media screen and (max-width:667px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 40px;
font-family:'Geo', sans-serif; 
font-size: 35px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 35px;
}
/*NAVBAR*/
}




@media screen and (max-width:640px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top:25px;
font-family:'Geo', sans-serif; 
align-content: center;
top: 0px;
font-size: 35px;
}
	
#landing-nav-links a{
font-size: 35px;
}
/*NAVBAR*/
	
	
/*LANDING-PAGE*/
#landing-logo{
width: 100%;
margin: 5px auto;
margin-top: 60px;
}

#landing-logo img{
width: 250px;
margin: 20px auto;
}
	
#landing-contact-btn{
margin: 20px auto;
width: 100%;
}
	
.landing-btn{
width: 40%;
padding: 10px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 55px;
height: 55px;
margin: -20px 20px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 60px;
}
/*LANDING-PAGE*/
	
	
/*ABOUT-PAGE*/
#about-content img{
height: auto;
}
/*ABOUT-PAGE*/
}




@media screen and (max-width:568px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 20px;
font-family:'Geo', sans-serif; 
font-size: 30px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 30px;
}
/*NAVBAR*/

/*GRAPHICS-OVERVIEWPAGE*/
#overviewgraphics-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section1 img{
width: 100%;
}
	
#overviewgraphics-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2 img{
width: 100%;
margin: 20px auto;
}
	
#overviewgraphics-section3{
width: 100%;
margin: 20px auto;
margin-bottom: 100px;
text-align: center;
}

#overviewgraphics-section3 img{
width: 100%;
}
/*GRAPHICS-OVERVIEWPAGE*/
	
/*CONTACT-PAGE*/
#contactquote-title{
width: 100%;
}
	
#contactquote-title p{
font-size: 23px;
}
/*CONTACT-PAGE*/
}




@media screen and (max-width:480px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 20px;
font-family:'Geo', sans-serif; 
font-size: 30px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 30px;
}
/*NAVBAR*/
	
/*LANDING-PAGE*/
#landing-logo{
align-content: center;
width: 100%;
margin: 5px auto;
margin-top: 45px;
}
	
#landing-logo img{
width: 200px;
}
	
#landing-jobtitle{
width:100%;
margin: 30px auto;
}
	
#landing-fullname h3{
font-size: 35px;
}
	
#landing-jobtitle h3{
font-size: 35px;
}
	
#landing-contact-btn{
margin: 10px auto;
}
	
.landing-btn{
margin: 10px auto;
width: 60%;
}

#landing-social-icons ul li{
margin: -20px 20px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 50px;
height: 50px;
margin: 0px 30px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 50px;
}
/*LANDING-PAGE*/

/*GRAPHICS-OVERVIEWPAGE*/
#overviewgraphics-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section1 img{
width: 100%;
}
	
#overviewgraphics-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2 img{
width: 100%;
margin: 20px auto;
}
	
#overviewgraphics-section3{
width: 100%;
margin: 20px auto;
margin-bottom: 100px;
text-align: center;
}

#overviewgraphics-section3 img{
width: 100%;
}
/*GRAPHICS-OVERVIEWPAGE*/
}




@media screen and (max-width:414px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 100px;
font-family:'Geo', sans-serif; 
font-size: 60px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 60px;
}
/*NAVBAR*/
	
/*LANDING-PAGE*/
#landing-logo{
align-content: center;
width: 100%;
margin: 5px auto;
margin-top: 45px;
}
	
#landing-logo img{
width: 200px;
}
	
#landing-jobtitle{
width:100%;
margin: 30px auto;
}
	
#landing-fullname h3{
font-size: 35px;
}
	
#landing-jobtitle h3{
font-size: 35px;
}
	
#landing-contact-btn{
margin: 10px auto;
}
	
.landing-btn{
margin: 10px auto;
width: 60%;
}

#landing-social-icons ul li{
margin: -20px 20px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 50px;
height: 50px;
margin: 0px 20px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 50px;
}
/*LANDING-PAGE*/

/*GRAPHICS-OVERVIEWPAGE*/
#overviewgraphics-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section1 img{
width: 100%;
}
	
#overviewgraphics-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2 img{
width: 100%;
margin: 20px auto;
}
	
#overviewgraphics-section3{
width: 100%;
margin: 20px auto;
margin-bottom: 100px;
text-align: center;
}

#overviewgraphics-section3 img{
width: 100%;
}
/*GRAPHICS-OVERVIEWPAGE*/	
	
/*CONTACT-PAGE*/
#contactquote-title{
width: 90%;
}	

.contact-form{
margin: 10px auto;
width: 90%;
padding: 20px;
border-radius: 5px;
}
	
.contact-form button{
width: 100%;
}
/*CONTACT-PAGE*/
}






@media screen and (max-width:411px){
/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 100px;
font-family:'Geo', sans-serif; 
font-size: 60px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 60px;
}
/*NAVBAR*/
	
/*LANDING-PAGE*/
#landing-logo{
align-content: center;
width: 100%;
margin: 5px auto;
margin-top: 45px;
}
	
#landing-logo img{
width: 200px;
}
	
#landing-jobtitle{
width:100%;
margin: 30px auto;
}
	
#landing-fullname h3{
font-size: 35px;
}
	
#landing-jobtitle h3{
font-size: 35px;
}
	
#landing-contact-btn{
margin: 10px auto;
}
	
.landing-btn{
margin: 10px auto;
width: 60%;
}

#landing-social-icons ul li{
margin: -20px 20px;
}
	
#landing-social-icons ul li{
display: inline-block;
width: 50px;
height: 50px;
margin: 0px 20px;
}
	
#landing-social-icons ul li a{
font-size: 30px;
}
	
#landing-social-icons ul li a i{
line-height: 50px;
}
/*LANDING-PAGE*/
	
/*GRAPHICS-OVERVIEWPAGE*/
#overviewgraphics-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section1 img{
width: 100%;
}
	
#overviewgraphics-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2 img{
width: 100%;
margin: 20px auto;
}
	
#overviewgraphics-section3{
width: 100%;
margin: 20px auto;
margin-bottom: 100px;
text-align: center;
}

#overviewgraphics-section3 img{
width: 100%;
}
/*GRAPHICS-OVERVIEWPAGE*/	
	
/*CONTACT-PAGE*/
.contact-form{
margin: 10px auto;
width: 90%;
padding: 20px;
border-radius: 5px;
}
	
.contact-form button{
width: 100%;
}
/*CONTACT-PAGE*/
}




@media screen and (max-width:375px){
.body{
margin: 0px;
width: 100%;
}	

.w3-display-topright{
position: absolute; right: 0px;
}
	
#mySidebar{
display:none;
padding-top: 80px;
font-family:'Geo', sans-serif; 
font-size: 60px;
align-content: center;
top: 0px;
}

/*LANDING-PAGE*/
#landing-logo{
align-content: center;
width: 100%;
margin: 5px auto;
margin-top: 40px;
}
	
#landing-logo img{
width: 200px;
}
	
#landing-jobtitle{
width:100%;
margin: 20px auto;
}
	
#landing-fullname h3{
font-size: 35px;
}
	
#landing-jobtitle h3{
font-size: 35px;
}
	
#landing-contact-btn{
margin: 10px auto;
}
	
.landing-btn{
margin: 10px auto;
width: 60%;
}

#landing-social-icons ul li{
margin: -20px 20px;
}
/*LANDING-PAGE*/
	
	
/*PROJECT-OVERVIEWPAGE*/
#overview-title{
margin-bottom: 40px;
text-decoration: underline;
text-align: center;
}

#overview-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overview-section1 img{
width: 100%;
}
	
#overview-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overview-section2 img{
width: 100%;
margin: 20px auto;
}
	
#overview-section3{
width: 100%;
margin: 20px auto;
margin-bottom: 100px;
text-align: center;
}

#overview-section3 img{
width: 100%;
}
/*PROJECT-OVERVIEWPAGE*/

	
/*GRAPHICSPAGE*/
#graphics-titleheading{
margin-top: 90px;
}	
/*GRAPHICSPAGE*/
	

/*GRAPHICS-OVERVIEWPAGE*/
#overviewgraphics-section1{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section1 img{
width: 100%;
}
	
#overviewgraphics-section2{
width: 100%;
margin: 20px auto;
text-align: center;
}

#overviewgraphics-section2 img{
width: 100%;
margin: 20px auto;
}
	
#overviewgraphics-section3{
width: 100%;
margin: 20px auto;
margin-bottom: 100px;
text-align: center;
}

#overviewgraphics-section3 img{
width: 100%;
}
/*GRAPHICS-OVERVIEWPAGE*/
	
	
/*CONTACTPAGE*/
#contact-titleheading{
margin: 74px auto;
margin-bottom: 40px;	
}

#contactquote-title{
width: 90%;
margin: 15px auto;
text-align: center;
font-size: 25px;
}

.contact-form{
margin: 10px auto;
width: 100%;
padding: 20px;
}

input{
margin: 20px 0px auto;
padding: 20px;
}

textarea{
height: 150px;
margin: 20px 0px auto;
padding: 20px;
}

.contact-form button{
margin: 15px auto;
padding: 10px auto;
width: 100%;
padding: 10px;
}

.contact-form button:hover{
border: 5px solid lightgray;
background-color: lightgray;
cursor: pointer;
}
/*CONTACTPAGE*/
	
	
/*ABOUTMEPAGE*/
#about-content{
width: 100%;
margin-top: 50px;
text-align: center;
}

#about-content img{
width: 100%;
height: auto;
}

#about-profile{
font-size: 22px;
text-align: left;
width: 100%;
margin-top: 40px;
}

#about-profile h1{
font-family: 'Geo', sans-serif;
font-size: 45px;
text-align: left;
}
/*ABOUTMEPAGE*/
}




@media screen and (max-width:360px){
.body{
margin: 0px;
width: 100%;
}	

/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 70px;
font-family:'Geo', sans-serif; 
font-size: 60px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 60px;
}
/*NAVBAR*/

	
/*LANDING-PAGE*/
#landing-logo{
align-content: center;
width: 100%;
margin: 5px auto;
margin-top: 35px;
}
	
#landing-logo img{
width: 200px;
}
	
#landing-jobtitle{
width:100%;
margin: 15px auto;
}
	
#landing-fullname h3{
font-size: 35px;
}
	
#landing-jobtitle h3{
font-size: 35px;
}
	
#landing-contact-btn{
margin: 10px auto;
}
	
.landing-btn{
margin: 10px auto;
width: 60%;
font-size: 20px;
padding: 8px;
}

#landing-social-icons ul li{
display: inline-block;
width: 45px;
height: 45px;
margin: 0px 40px;
}
	
#landing-social-icons ul li a{
font-size: 25px;
}
	
#landing-social-icons ul li a i{
line-height: 50px;
}
	
#landing-social-icons ul li{
margin: -20px 20px;
}
/*LANDING-PAGE*/
}
	




@media screen and (max-width:320px){
.body{
margin: 0px;
width: 100%;
}	

/*NAVBAR*/
#mySidebar{
display:none;
padding-top: 30px;
font-family:'Geo', sans-serif; 
font-size: 45px;
align-content: center;
top: 0px;
}
	
#landing-nav-links a{
font-size: 45px;
}
/*NAVBAR*/

	
/*LANDING-PAGE*/
#landing-logo{
align-content: center;
width: 100%;
margin: 5px auto;
margin-top: 10px;
}
	
#landing-logo img{
width: 150px;
}
	
#landing-jobtitle{
width:100%;
margin: 5px auto;
}
	
#landing-fullname h3{
font-size: 30px;
}
	
#landing-jobtitle h3{
font-size: 30px;
}
	
#landing-contact-btn{
margin: 5px auto;
}
	
.landing-btn{
margin: 5px auto;
width: 60%;
font-size: 15px;
padding: 5px;
}

#landing-social-icons ul li{
display: inline-block;
width: 35px;
height: 35px;
}
	
#landing-social-icons ul li a{
font-size: 25px;
}
	
#landing-social-icons ul li a i{
line-height: 40px;
}
	
#landing-social-icons ul li{
margin: -20px 20px;
}
/*LANDING-PAGE*/
	
	
/*CONTACT-PAGE*/
#contactquote-title{
width: 90%;
margin: 20px auto;
}
	
#contactquote-title p{
font-size: 22px;
}
/*CONTACT-PAGE*/
}
	

